<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tab页面</title>
</head>
  <body>
  <div>
  	<%= require('./commonhtml/h1.html')%>
  </div>
	<div id="calculate">
        <input type="text"><br>
        <select>
            <option value="1">加</option>
            <option value="2">减</option>
            <option value="3">乘</option>
            <option value="4">除</option>
            <option value="5">取余</option>
        </select><br>
        <input type="text"><br>
        <input type="button" value="计算"><br>
        <div></div>
    </div>
  </body>
</html>
